
.event-form-container {
  width: 400px;
  margin: 0 auto; 
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.event-form-container h2 {
  text-align: center;
  margin-bottom: 5px;
}


.event-form {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}


.event-form label {
  font-weight: bold;
  /* margin-bottom: 5px; */
}


.event-form input[type="text"] {
  width: 90%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}


.event-form button[type="submit"] {
  background-color: #4CAF50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}
@media (max-width: 768px){
  .event-form-container {
    width: 280px;
    margin: 0 auto; 
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
}